* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    letter-spacing: .03rem;
}

/*
Colors
*/

:root {
    --clr-light-purple:239, 85%, 70%;
    --clr-lighter-purple:239, 80%, 75%;
    --clr-dark-purple: 246, 46%, 37%;
    --clr-light-orange: 45, 99%, 49%;
    --clr-dark-orange: 34, 99%, 47%;
    --clr-neutral-white: 0, 0%, 97%;
}

.bg-light {
    background-color: hsl( var(--clr-light-purple));
}
.bg-dark {
    background-color: hsl( var(--clr-dark-purple));
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 100%;
    user-select: none;

}

main{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 2em auto ;
    height: 100vh;

}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3em;
    gap: .75em;

}

ul li {
    background-color: hsl( var(--clr-lighter-purple));
    padding: .7rem 1.3rem;
    border-radius: .5rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    color: hsl( var(--clr-neutral-white));
    font-weight: 300;
    font-size: 1.2rem;
    text-align: center;
    flex-grow: 1;

}

i {
    opacity: 90%;
    color: hsl( var(--clr-neutral-white), 30%)
}

ul p {
    opacity: 90%;
    color: hsl( var(--clr-neutral-white), 30%);
}

ul li:hover {
    background-color: hsl( var(--clr-light-purple));
}


input[type=text] {
    border: none;
    border-radius: .35rem;
    background-color: hsl( var(--clr-light-orange),30%);
    padding: .6em 1em;
    font-size: 1.25rem;
    font-weight: 400;
    margin: .8em 0em;
    text-align: center;
}

input:focus {
    background-color: hsl( var(--clr-neutral-white));
    outline-color:hsl( var(--clr-dark-orange),80%) ;

}

input::placeholder {
    color: hsl( var(--clr-neutral-white), 30%);
}

button{
    border: none;
    border-radius: .35rem;
    padding: .5em 1em;
    font-size: 1.25rem;
    font-weight: 500;
    background-color: hsl( var(--clr-dark-orange));
    color: hsl( var(--clr-neutral-white));
    border: 2px solid hsl( var(--clr-dark-purple));
    margin-bottom: 1em;
}

button:hover {
    background-color: hsl( var(--clr-light-orange));
    color: black;
}

#lavender-one{
    position:absolute;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 5%;
}


.emoji{
    font-size: 7em;
    text-align: center;
    opacity: 60%;
}